[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "0.78.0"
uvicorn = {extras = ["standard"], version = "0.17.6"}
python-multipart = "0.0.5"
python-jose = {extras = ["cryptography"], version = "3.3.0"}
passlib = {extras = ["bcrypt"], version = "1.7.4"}
firebase-admin = "5.2.0"

[dev-packages]

[requires]
python_version = "3.9"
